<div class="page-header">

  <h1 style="display:inline; text-decoration: none;">About  </h1><img src="<%= image_url('logo10.png') %>" style="width: 450px; padding: 0 0 20px 15px"%></div>

<div class="basicbody">
<p style="font-size: 20px;">This is a web app created for people with criminal records in Maryland.</p>

<p style="font-size: 20px;">A criminal record is a barrier to employment, education, and other services. Luckily, some criminal records can be erased through the expungement process. However, while many criminal records can be erased, few people apply for expungement. This web app aims to clarify criminal expungement, with the hope of more people getting their records erased!</p>

<p style="font-size: 20px;">This app was created by Advocates for Children and Youth with the support of the Maryland Office of the Public Defender.  The idea for this app came from the awesome Juvenile Justice Council of the Mikva Challenge in Chicago, Illinois, and was originally developed by Cathy Deng.</p>

<p>If you need to contact us, feel free to send an email to Expunge@ACY.org.</p>
<br><br>

<div class="basicbody">
	<a href="http://www.acy.org/" target="_blank" style="border: none !important;">
			<img src="<%= asset_path( 'acylogo.png' ) %>" width="300" border="0" align="left" style="padding:12px"/>
	</a>


<p style="font-size: 20px;">Advocates for Children and Youth improves the lives and experiences of Maryland’s children through policy change and program improvement. We are every child’s ally, working with government agencies and elected officials to continuously improve each child’s present and future.
Through our multi-issue platform, we affect the entirety of children’s worlds—the systems they touch, the people they interact with, and the environment where they live. We champion solutions to child welfare, education, health, and juvenile justice issues, positioning us to influence the full spectrum of youth experiences. We use independent research and proven best practices to recommend policies and pro­grams that create measurable results.</p>

<br><br>

	<a href="http://warnockfoundation.org/" target="_blank" style="border: none !important;">
			<img src="<%= asset_path( 'warnock.png' ) %>" width="140" border="0" align="left" style="padding:12px;"/>
	</a>

<p style="font-size: 20px;">The Warnock Foundation is committed to Baltimore, its people, and cultivating the great ideas that will help our city reach its full potential. They believe in supporting social innovations in Baltimore by making direct philanthropic investments, and promoting Baltimore’s great ideas by providing a platform for thought leadership and community building. Their vision is a Baltimore that fully capitalizes on its wealth of history, talent and energy – a Baltimore where all citizens believe we are moving in a positive direction.</p>
	
<h1 class="center">Our Partners</h1><br><br>

<div class="basicbody">
	<a href="http://www.mvls.org/" target="_blank" style="border: none !important;">
			<img src="<%= asset_path( 'mvlslogo.png' ) %>" width="150" border="0" align="left" style="padding:12px; float: right;"/>
	</a>
<p style="font-size: 20px;">
MVLS provides free (and in some cases low cost) legal representation to Marylanders with limited income. We also provide free legal help for community-based nonprofits that are working to strengthen low-income communities in Maryland.
</p>
<p style="font-size: 20px;">
Each eligible individual client is matched with a volunteer lawyer who has the appropriate skills and expertise to provide quality representation. With a volunteer pool of 3,000 lawyers, MVLS provides services in every jurisdiction in the state.
</p>
<br>
<br>
	<a href="http://midshoreprobono.org/" target="_blank" style="border: none !important;">
			<img src="<%= asset_path( 'midshore.png' ) %>" width="240" border="0" align="left" style="padding:12px"/>
	</a>
<p style="font-size: 20px;">Mid-Shore Pro Bono is a legal services provider for Kent, Queen Anne's, Caroline, Talbot and Dorchester counties. We are committed to strengthening the communities of Maryland's Mid-Shore by providing access to several diverse programs which offer resolution to a variety of civil issues, conflicts and disputes. </p>
<br>
<br>
	<a href="http://www.wlcmd.org/" target="_blank" style="border: none !important;">
			<img src="<%= asset_path( 'mission.png' ) %>" width="240" border="0" align="left" style="padding:12px; float: right;"/>
	</a>
<p style="font-size: 20px;">The Women's Law Center serves as a leading voice
for justice and fairness for women by advocating for the protection and expansion of women's rights through legal assistance to individuals and strategic initiatives to achieve systemic change. We are a non-profit organization that provides free legal representation and education programs to protect and empower individual women and their families. Advocacy, research and policy initiatives advance access to justice and equality.</p>
<br>
<br>
	




<!--
	<a href="http://www.acy.org/" target="_blank" style="border: none !important;">
			<img src="<%= asset_path( 'mvlslogo.png' ) %>" border="0" align="left" width="110" style="padding:12px"/>
	</a>
	<p>MVLS provides free (and in some cases low cost) legal representation to Marylanders with limited income. MVLS also provides free legal help for community-based nonprofits that are working to strengthen low-income communities in Maryland.</p>
-->



</div>



<!-- 
<div class="well">
  <h4>Interested in learning more about juvenile justice & expungement? Check out these links:</h4>
  <ul>
  	<li><a href="http://www.wbez.org/news/why-it-so-hard-expunge-juvenile-records-cook-county-105257">Why is it so hard to expunge juvenile records in Cook County? (WBEZ)</a></li>
  	<li><a href="http://www.thenation.com/article/177017/boxed-how-criminal-record-keeps-you-unemployed-life">Boxed In: How a Criminal Record Keeps You Unemployed For Life (The Nation)</a></li>
  	<li><a href="https://vine.co/u/1031276355163230208">Expungement vocabulary - explained on Vine</a></li>
  	<li><a href="http://rapgenius.com/Illinois-criminal-justice-information-authority-juvenile-criminal-records-lyrics">Illinois Juvenile Criminal Records - explained on Rap Genius</a></li>
  	<li><a href="https://docs.google.com/file/d/0ByNPZcL7VWcVODVkb20wYU5vOVk/edit">Mikva JJC Full Report 2013</a></li>
  	<li><a href="http://www.illinoislegalaid.org/index.cfm?fuseaction=home.dsp_Content&contentID=7064#">Illinois Legal Aid Online</a></li>
  </ul>
</div>  -->


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52594415-1', 'auto');
  ga('send', 'pageview');

</script>


