<div class="center">

<h2>Did your case receive one of the following outcomes?</h2><br>


<%= link_to("Dismissed", b31_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("Not Guilty", b31_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("Probation Before Judgement", b35_path, :method => "get", :class => "btn btn-large") %>

<%= link_to("Stay (or Stet)", b35_path, :method => "get", :class => "btn btn-large") %> <br><br>

<%= link_to("Nolle Prosequi or Nolo Contendere", b27_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("Not Criminally Responsible", b23_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("Guilty for Nuisance", b25_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("My case did not receive any of these outcomes", b17_path, :method => "get", :class => "btn btn-large")%> <br><br>

<%= link_to("I don't know", dontknow_path, :method => "get", :class => "btn btn-large") %>

</div>

