<head>
	<style type="text/css">

		.linklist li {
			margin: 12px;
		}

	</style>
</head>


<br><br><br>


<div class="basicbody">

<h3>What is expungeable?</h3>
<p>The answer to this question is a difficult one. There are many factors that determine if your record is expungeable. This difficulty is why we created ExpungeMaryland. By using this app you will be able to get to the bottom of whether or not your case is expungeable.</p>

<h3>How much does expungement cost?</h3>
<p>It costs $30 to expunge a single case. However, many people qualify for a fee waiver that makes expungement free. If you are eligible for expungement, your attorney can help you file for a fee waiver.</p>

<h3>How long does the process take?</h3>
<p>The statute says this process should take you 90 days. But in some jurisdictions, like Baltimore City, it can take up to 8 months.</p>

<h3>Why is expungement important?</h3>
	<p>
		Expungement gives you a clean slate. Having criminal charges on your record can prevent you from finding employment, 		public housing, and other government services. Expunging your criminal record can make accessing work, housing, and 		services easier.
	</p>

<ul style="font-size: 18px" class="linklist">
	<li><a href="<%= asset_path( 'The Harms of a Criminal Record.pdf' ) %>" target="_blank" >The Harms of a Criminal 	  
		Record</a>
	</li>

	<li><a href="<%= asset_path( 'The harms of a criminal record on employment.pdf' ) %>" target="_blank" >The Harms of a 		Criminal Record On Employment</a>
	</li>
</ul>


<h3>What do I do if I don’t know all the facts about my criminal record?</h3>
<p>If you do not know the exact charge, date, or outcome of your case, you can search your adult criminal record (including traffic violations) at <a href="http://casesearch.courts.state.md.us/inquiry/inquiry-index.jsp" target="_blank">the State of Maryland Judiciary Case Search.</a> (Disclaimer: if your case was recently resolved, or currently pending, this site might not be updated with that information).</p>
<p>If you have a juvenile record, you can <a href="http://www.courts.state.md.us/courtsdirectory/index.html" target="_blank">contact the court that heard your case</a> to get your record.</p>

<!--<p>Records and Services Division of the Chicago Police Department:<br>
3510 S Michigan, Chicago IL 60653<br>(312)745-5508<br>Mon-Fri 8am-12pm</p> -->

<h3>What if my criminal record is in a state other than Maryland?</h3>
<p>ExpungeMaryland.com can only help you expunge your criminal record in Maryland. You’ll need to contact an attorney or legal aid service in the state where your criminal record is for more information.</p>




<h3>
	Where can I find more information about expungement?
</h3>


<ul style="font-size: 18px" class="linklist">
	<li>Office of the Public Defender has a number of great resources </li>
		<ul>
			<li><a href="<%= asset_path( 'Expungement Information.pdf' ) %>" target="_blank" >Expungement Information</a></li>
			<li><a href="<%= asset_path( 'Pardon Information.pdf' ) %>" target="_blank" >Pardon Information</a></li>
			
			<li><a href="<%= asset_path( 'Shielding a domestic violence record.pdf' ) %>" target="_blank" >Shielding a Domestic 			Violence Record</a></li>
			<li><a href="<%= asset_path( 'Expunging a traffic violation with MVA.pdf' ) %>" target="_blank" >Expunging a Traffic 			Violence with MVA</a></li>
		</ul>
	<li>
		<a href="<%= asset_path( 'Consequences of a criminal record.pdf' ) %>" target="_blank" >Consequences of a Criminal 			Record</a>
	</li>
	<li>The Maryland Judiciary has an <a href="http://www.courts.state.md.us/courtforms/joint/ccdccr072br.pdf" target="_blank">expungement handbook</a>
	</li>
</ul>
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52594415-1', 'auto');
  ga('send', 'pageview');

</script>